<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <section class="layout">
        <form action="/academy-students" method="post">
            <h1>Hello New Student</h1>
            <p>Welcome to Our Academy</p>
            <input type="text" name="student">
            <button>Log Up</button>
            <a href="/students">List Students</a>
        </form>
    </section>
</body>
</html>