<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-primary">
    <div class="container mt-5 mb-5 bg-info rounded m-auto" style="height: 80vh;">
        <ul class="item-list list-group pt-5">
            <h1 class="text-secondary fs-1 fw-bold text-center mb-3">The list of Students in Academy</h1>
            <% students.map((item) => { %>
                <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
                    <span class="item-text"><%= item.first_Name %></span>
                    <div>
                        <button data-id="<%= item._id %>" class="edit-me btn btn-secondary btn-sm mr-1">Change</button>
                        <button data-id="<%= item._id %>" class="delete-me btn btn-danger btn-sm">Delete</button>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/browserStudent.js"></script>
</body>
</html>