body{
    height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(88, 88, 241),rgb(0, 166, 255));
    background-size: cover;
    background-repeat: no-repeat;
}
.layout{
    display: flex;
    width:1100px;
    height: 90vh;
    padding: 20px;
    justify-content: end;
    flex-shrink: 0;
    border-radius: 30px;
    background: url(<path-to-image>), rgb(135, 209, 222) 50% / cover no-repeat;
    box-shadow: 0px 0px 60px black;
}

form{
    display:flex;
    height: 100%;
    width:50%;
    border-radius: 40px 0 40px 0;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: white;
}



input{
    border-radius: 20px;
    margin-bottom: 20px;
    border:1px solid rgb(81, 77, 77);
    padding:20px
}




